# Virtual environment
.venv/
venv/
env/

# Build & distribution
build/
dist/
*.egg-info/
*.whl

# Python
__pycache__/
*.py[cod]
*.so
.Python

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
desktop.ini

# PyInstaller
*.spec
*.toc
*.pyz
*.exe